@import "../mixin/color-scheme", "../mixin/font-scheme";

&-editWarband {
	&-container {
		margin: 2rem 1rem;

		hr {
			margin: 0 1rem;
		}

		h2 {
			@include font-title-medium();
			margin: 2rem 0 1rem;
		}

		p {
			@include font-body-medium();
			margin: 1rem 0;
			text-align: center;
		}
	}

	&-buttons {
		display: flex;
		justify-content: stretch;
		align-items: center;
		margin: 0 0.5rem 2rem;

		> * {
			margin: 0.5rem;
			flex: 1 100%;
		}
	}
}
