:root {
	--md-ref-palette-primary10: #1b5e20;
	--md-ref-palette-primary20: #2d431f;
	--md-ref-palette-primary30: #40642a;
	--md-ref-palette-primary40: #538836;
	--md-ref-palette-primary80: #c4deb2;
	--md-ref-palette-primary90: #e2efd8;
	--md-ref-palette-primary100: #ffffff;

	--md-ref-palette-secondary10: #23140b;
	--md-ref-palette-secondary20: #3d1f13;
	--md-ref-palette-secondary30: #5a2a18;
	--md-ref-palette-secondary40: #78361c;
	--md-ref-palette-secondary80: #dcb1a0;
	--md-ref-palette-secondary90: #eed8cf;
	--md-ref-palette-secondary100: #ffffff;

	--md-ref-palette-tertiary10: #12141f;
	--md-ref-palette-tertiary20: #1a2138;
	--md-ref-palette-tertiary30: #212f53;
	--md-ref-palette-tertiary40: #273d6f;
	--md-ref-palette-tertiary80: #acb3d1;
	--md-ref-palette-tertiary90: #d5d8e8;
	--md-ref-palette-tertiary100: #ffffff;

	--md-ref-palette-neutral0: #000000;
	--md-ref-palette-neutral10: #1c201a;
	--md-ref-palette-neutral20: #323a2c;
	--md-ref-palette-neutral90: #e3e8e0;
	--md-ref-palette-neutral95: #f1f3ef;
	--md-ref-palette-neutral99: #fcfdfc;

	--md-ref-palette-neutral-variant30: #49454f;
	--md-ref-palette-neutral-variant50: #79747e;
	--md-ref-palette-neutral-variant60: #938f99;
	--md-ref-palette-neutral-variant80: #cac4d0;
	--md-ref-palette-neutral-variant90: #ffffff;

	--md-ref-palette-error10: #410e0b;
	--md-ref-palette-error20: #601410;
	--md-ref-palette-error30: #8c1d18;
	--md-ref-palette-error40: #b3261e;
	--md-ref-palette-error80: #f2b8b5;
	--md-ref-palette-error90: #f9dedc;
	--md-ref-palette-error100: #f9dedc;

	// PREFERS LIGHT SCHEME
	--md-sys-color-primary: var(--md-ref-palette-primary40);
	--md-sys-color-primary-container: var(--md-ref-palette-primary90);
	--md-sys-color-secondary: var(--md-ref-palette-secondary40);
	--md-sys-color-secondary-container: var(--md-ref-palette-secondary90);
	--md-sys-color-tertiary: var(--md-ref-palette-tertiary40);
	--md-sys-color-tertiary-container: var(--md-ref-palette-tertiary90);
	--md-sys-color-surface: var(--md-ref-palette-neutral99);
	--md-sys-color-surface-variant: var(--md-ref-palette-neutral90);
	--md-sys-color-background: var(--md-ref-palette-neutral99);
	--md-sys-color-error: var(--md-ref-palette-error40);
	--md-sys-color-error-container: var(--md-ref-palette-error90);
	--md-sys-color-on-primary: var(--md-ref-palette-primary100);
	--md-sys-color-on-primary-container: var(--md-ref-palette-primary10);
	--md-sys-color-on-secondary: var(--md-ref-palette-secondary100);
	--md-sys-color-on-secondary-container: var(--md-ref-palette-secondary10);
	--md-sys-color-on-tertiary: var(--md-ref-palette-tertiary100);
	--md-sys-color-on-tertiary-container: var(--md-ref-palette-tertiary10);
	--md-sys-color-on-surface: var(--md-ref-palette-neutral10);
	--md-sys-color-on-surface-variant: var(--md-ref-palette-neutral-variant30);
	--md-sys-color-on-background: var(--md-ref-palette-neutral10);
	--md-sys-color-on-error: var(--md-ref-palette-error100);
	--md-sys-color-on-error-container: var(--md-ref-palette-error10);
	--md-sys-color-outline: var(--md-ref-palette-neutral-variant50);
	--md-sys-color-outline-variant: var(--md-ref-palette-neutral-variant80);
	--md-sys-color-inverse-surface: var(--md-ref-palette-neutral20);
	--md-sys-color-inverse-on-surface: var(--md-ref-palette-neutral95);
	--md-sys-color-inverse-primary: var(--md-ref-palette-primary80);

	// PREFFERS DARK SCHEME
	@media (prefers-color-scheme: dark) {
		--md-sys-color-primary: var(--md-ref-palette-primary80);
		--md-sys-color-primary-container: var(--md-ref-palette-primary30);
		--md-sys-color-secondary: var(--md-ref-palette-secondary80);
		--md-sys-color-secondary-container: var(--md-ref-palette-secondary30);
		--md-sys-color-tertiary: var(--md-ref-palette-tertiary80);
		--md-sys-color-tertiary-container: var(--md-ref-palette-tertiary30);
		--md-sys-color-surface: var(--md-ref-palette-neutral10);
		--md-sys-color-surface-variant: var(--md-ref-palette-neutral-variant30);
		--md-sys-color-background: var(--md-ref-palette-neutral10);
		--md-sys-color-error: var(--md-ref-palette-error80);
		--md-sys-color-error-container: var(--md-ref-palette-error30);
		--md-sys-color-on-primary: var(--md-ref-palette-primary20);
		--md-sys-color-on-primary-container: var(--md-ref-palette-primary90);
		--md-sys-color-on-secondary: var(--md-ref-palette-secondary20);
		--md-sys-color-on-secondary-container: var(--md-ref-palette-secondary90);
		--md-sys-color-on-tertiary: var(--md-ref-palette-tertiary20);
		--md-sys-color-on-tertiary-container: var(--md-ref-palette-tertiary90);
		--md-sys-color-on-surface: var(--md-ref-palette-neutral90);
		--md-sys-color-on-surface-variant: var(--md-ref-palette-neutral-variant80);
		--md-sys-color-on-background: var(--md-ref-palette-neutral90);
		--md-sys-color-on-error: var(--md-ref-palette-error20);
		--md-sys-color-on-error-container: var(--md-ref-palette-error90);
		--md-sys-color-outline: var(--md-ref-palette-neutral-variant60);
		--md-sys-color-outline-variant: var(--md-ref-palette-neutral-variant30);
		--md-sys-color-inverse-surface: var(--md-ref-palette-neutral90);
		--md-sys-color-inverse-on-surface: var(--md-ref-palette-neutral20);
		--md-sys-color-inverse-primary: var(--md-ref-palette-primary40);
	}

	--md-sys-color-surface-tint-color: var(--md-sys-color-primary);
	--md-sys-color-scrim: var(--md-ref-palette-neutral0);
	--md-sys-color-shadow: var(--md-ref-palette-neutral0);
}

@mixin color-outline() {
	border: 0.0625rem solid var(--md-sys-color-outline);
}

@mixin color-background() {
	background-color: var(--md-sys-color-background);
	color: var(--md-sys-color-on-background);
	fill: var(--md-sys-color-on-background);
}

@mixin color-surface() {
	background-color: var(--md-sys-color-surface);
	color: var(--md-sys-color-on-surface);
	fill: var(--md-sys-color-on-surface);
}

@mixin color-surface-variant() {
	background-color: var(--md-sys-color-surface-variant);
	color: var(--md-sys-color-on-surface-variant);
	fill: var(--md-sys-color-on-surface-variant);
}

@mixin color-primary-container() {
	background-color: var(--md-sys-color-primary-container);
	color: var(--md-sys-color-on-primary-container);
	fill: var(--md-sys-color-on-primary-container);
}

@mixin color-secondary-container() {
	background-color: var(--md-sys-color-secondary-container);
	color: var(--md-sys-color-on-secondary-container);
	fill: var(--md-sys-color-on-secondary-container);
}

@mixin apply-scheme() {
	background: var(--color-background-primary);
	color: var(--color-text-primary);
	fill: var(--color-text-primary);
}

@mixin color-preference-dark() {
	--color-background-primary: var(--palette-black-dark);
	--color-text-primary: var(--palette-white-lightest);
	--color-divider: var(--palette-divider-light);

	@include apply-scheme();
}

@mixin color-preference-light() {
	--color-background-primary: var(--palette-white-lightest);
	--color-text-primary: var(--palette-black-normal);
	--color-divider: var(--palette-divider-dark);

	@include apply-scheme();
}
