@mixin apply-scheme() {
    background: var(--color-background-primary);
    color: var(--color-text-primary);
    fill: var(--color-text-primary);
}

@mixin color-scheme-black() {
    --color-background-primary: var(--palette-black-dark);
    --color-text-primary: var(--palette-white-lightest);
	--color-divider: var(--palette-divider-light);

    @include apply-scheme();
}

@mixin color-scheme-white() {
    --color-background-primary: var(--palette-white-lightest);
    --color-text-primary: var(--palette-black-normal);
	--color-divider: var(--palette-divider-dark);

    @include apply-scheme();
}