@import "../mixin/color-scheme", "../mixin/font-scheme";

&-assistChip {
	@include color-outline();
	@include color-surface();

	border-radius: 1.5rem;

	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 2rem;

	padding: 0 0.5rem;
	margin: 0.25rem;

	span {
		@include font-label-large();
		padding: 0 0.5rem;
	}

	svg {
		fill: var(--md-sys-color-primary);
		height: 1.125rem;
	}
}
